body {
	margin:0px;
	font-family:Verdana, Geneva, sans-serif;
	background:#FFFFFF;
}
#containernew { width:952px; margin:0px auto 0px; background:#FFFFFF; padding:0px; font-size:12px; margin-top:0px; }
